.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;/*to keep otherpages-s tex align -later remove and add this aligness to the that page settings */
}


body{
  padding: 0;
  margin: 0; /* with this margin that white color aroumd the nav is gone and it fit now*/
  background-color: rgb(255, 255, 255);
}